---
import Layout from '../layouts/BlogPost.astro';
---

	<Layout
		title="About Me"
		description="Lorem ipsum dolor sit amet"
		pubDate={new Date("2023-11-23")}
	>

	<p>Hi. I’m Momchil, and I’m a software engineer. I’ve been one since high school, into college and all throughout my career as well for a total of 15 years of combined academic and professional experience.</p>

	<p>I’ve primarily worked in the web industry, with experience in neighbouring technologies and paradigms, such as games, and lower-level programming allotted to my education days and my spare time.</p>

	<p>On the frontend, I’ve worked on quite a few backoffice web UIs with a number of frontend frameworks like AngularJS, Angular, React, and Vue, with most of my time spent on Angular.</p>

	<p>On the backend, I’ve mainly worked in the Node ecosystem and things surrounding it like Express and NestJS, with a sprinkle of some PHP & Wordpress plugins back in the day.</p>

	<p>I’ve also touched on some CI/CD stuff with jenkins, along with some network management with Nginx.</p>

	<p>As far as the things I’ve worked on, they range from authentication services to realtime web communication, file sharing, image processing, data APIs, you name it.</p>

	<p>I’ve been on brown and greenfield projects, some of which have gone through stack migrations as well as full rewrites.</p>

	<p>As far as non-technical things go, I’ve worked at a companies of 3, 30, 3000 and 300 000+ people. I’ve seen the different challenge points at different sizes and the growing pains of scaling a team of engineers. As such, I’ve seen project management go from hinderance, to necessity, to overmanagement.</p>

	<p>I’ve also had the pleasure of mentoring and onboarding people into existing tech stacks as well as company organisational processes.</p>

	<p>If any of this sounds like something you need help with, hit me up somewhere in the links below. Or on email @ <a href="mailto:anamodev@gmail.com">anamodev@gmail.com</a></p>

	<p>I hope you have a great day!</p>

	<p>Cheers!</p>

</Layout>
