---
---

<span class="headline">Making Software Better</span>

<script>
const keyFrames = [
    "",
    "Making Software Better",
    "Making",
    "OMAGAAAD",
    "Making Better Software",
];

// TODO: Don't let the text wiggle when it's in the center
// TODO: Generate text frames from key frames
// TODO: Make the animation work not just for the first key frame
// const textFrames = keyFrames;

const textFrames = [];

// Find the branch point forward

let currentKeyFrame = 0;

// Find the branch point
let branchPoint = 0;
do {
    if (keyFrames[0][branchPoint] === keyFrames[1][branchPoint]) {
        branchPoint += 1;
    } else {
        break;
    }
} while (branchPoint <= keyFrames[0].length && branchPoint <= keyFrames[1].length);

// Generate the in-between frames between us and the branch point
let tweenFrameIndex = 0;
do {
    textFrames.push(keyFrames[1].slice(branchPoint, branchPoint+tweenFrameIndex));
    tweenFrameIndex += 1;
} while (branchPoint + tweenFrameIndex <= keyFrames[1].length);

const headline = document.querySelector(".headline");

let frameNumber = 0;
const intervalId = setInterval(() => {
    headline.innerText = textFrames[frameNumber];
    frameNumber++;

    if (frameNumber === textFrames.length) {
        clearInterval(intervalId);
    }
}, 66); // TODO: Translate this into characters per second because that's more easy to think about

</script>